{% extends 'baseuser.html.twig' %}

{% block title %}Verification de l'otp{% endblock %}

{% block body %}
<div class="container-fluid pt-4 px-4" style="margin-bottom: 120px;">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-xl-8">
            <div class="rounded h-100 p-4" style="background: #262626;text-align: center;">
            <h4>Changer votre mot de passe</h4>
            <br>
            
                {{ form_start(form) }}
                
                    {{ form_widget(form) }}
                    <br>
                    <br>   
                    <button type="submit" class="btn btn-outline-light m-2">Submit</button>
                    <a href="{{ path('app_login') }}" class="btn btn-outline-light m-2">Back</a>
                {{form_end(form)}}

                
            </div>
        </div>
    </div>
</div> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
