{% extends 'base.html.twig' %}

{% block title %}Edit Invitation{% endblock %}

{% block body %}
    <h1>Edit Invitation</h1>

    {{ include('invitation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_invitation_index') }}">back to list</a>

    {{ include('invitation/_delete_form.html.twig') }}
{% endblock %}
