{% extends 'base.html.twig' %}

{% block title %}Edit Jeu{% endblock %}

{% block body %}

    <div class="container-fluid pt-4 px-4 neon-border">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4" style="width:150% ;margin-top:5px;margin-left:120px">
                <h1 style="Text-align:center;font-weight: 700; font-family: Quantico, Noto Sans, Malgun Gothic, Apple SD Gothic Neo, sans-serif;">Modifier Jeu</h1>
                  {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                      {{ include('jeu/_form.html.twig', {'button_label': 'Modifier'}) }}
                         
                  </div>
            </div>
        </div>
    </div>
<script>
        {% if not app.user %}
            window.location.href = "{{ path('app_login') }}";
        {% endif %}
    </script>

{% endblock %}
