/********** Template CSS **********/
:root {
    --primary: #8B0000;
    --secondary: #323232;
    --light: #FFFFFF;
    --dark: #000000;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
/***card ***/
.box {
    position: relative;
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(to bottom, #f1f2f3 25px, #323232 25px);
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5), 0 0 30px 5px rgba(255, 255, 255, 0.5), inset 0 0 15px 2px #8B0000, inset 0 0 30px 5px #8B0000;
    width: 300px;
    height: 435px;
}
  .box .img-box {
    background: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px; /* Adjust this value as needed */
    border-radius: 0 0 0 45px;
    margin: -1px;
    padding: 25px;
  }
  
  .box .img-box img {
    max-width: 100%;
    max-height: 100%; /* Adjust this value as needed */
    width: auto;
    height: auto;
    transition: all 0.2s;
  }
  
  .box .detail-box {
    padding: 25px;
  }
  
  .box .detail-box h5 {
    font-weight: 600;
  }
  
  .box .detail-box p {
    font-size: 15px;
  }
  
  .box .detail-box h6 {
    margin-top: 10px;
  }
  
  .box .options {
    display: flex;
    justify-content: space-between;
  }

/* Score */
.nk-match-score {
    display: inline-block;
    padding: 9px 19px;
    font-family: "Montserrat", sans-serif;
    font-size: .87rem;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #546374;
    border-radius: 4px;
}

/* Match */
.nk-match {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px;
    color: #fff;
    background-color: #262626;
}

.nk-match + .nk-match {
    margin-top: 15px;
}

.nk-match .nk-match-team-left,
.nk-match .nk-match-team-right,
.nk-match .nk-match-status {
    width: 35%;
}

.nk-match .nk-match-team-left > a,
.nk-match .nk-match-team-right > a,
.nk-match .nk-match-status > a {
    color: inherit;
    text-decoration: none;
}

.nk-match .nk-match-team-left > a:hover,
.nk-match .nk-match-team-right > a:hover,
.nk-match .nk-match-status > a:hover {
    color: #dd163b;
}

.nk-match .nk-match-team-left > *,
.nk-match .nk-match-team-right > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nk-match .nk-match-status {
    width: 30%;
    text-align: center;
}

.nk-match .nk-match-status .nk-match-status-vs {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
}

.nk-match .nk-match-status .nk-match-status-date {
    display: block;
    font-size: .9em;
}

.nk-match .nk-match-status .nk-match-score {
    margin-top: 10px;
}

.nk-match .nk-match-team-right {
    text-align: right;
}

.nk-match .nk-match-team-name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.nk-match .nk-match-team-left .nk-match-team-name {
    padding-left: 20px;
}

.nk-match .nk-match-team-right .nk-match-team-name {
    padding-right: 20px;
}

@media (max-width: 991px) {
    .nk-match {
        display: block;
    }
    .nk-match .nk-match-team-left,
    .nk-match .nk-match-team-right,
    .nk-match .nk-match-status {
        width: 100%;
    }
    .nk-match .nk-match-status {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
/** **/
.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour s'assurer que l'image couvre toute la zone */
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.h5{
    color: #000000;
}
  .box .options a svg {
    width: 18px;
    fill: #ffffff;
  }
  
  .box:hover .img-box img {
    transform: scale(1.1);
  }
  .show-btn-container {
    text-align: center; /* Center the button horizontally */
  }
  .show-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #8B0000; /* Neon red color */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;

}

.show-btn:hover {
    background-color: #ff5555; /* Brighter neon red color on hover */
}
.add-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #8B0000; /* Neon red color */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #ff5555; /* Brighter neon red color on hover */
}
/***show***/

.image-section {
    position: relative;
    width: 100%;
    height: 400px; 
    background-size: cover;
    background-position: center;
}
.image-overlay {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 5px;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}