{% extends 'baseuser.html.twig' %}

{% block title %}Échec du paiement !{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Merci pour votre tentative de commande !</h1>
    <p>
        Nous apprécierions votre entreprise !
        Mais votre paiement a échoué :(
        <a href="mailto:orders@example.com">failures@example.com</a>.
    </p>

<div>

</div>
{% endblock %}