{% extends 'baseuser.html.twig' %}

{% block title %}Paiement réussi!{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Merci pour votre commande!</h1>
    <p>
        Nous apprécions votre entreprise!
        Si vous avez des questions, veuillez envoyer un e-mail
        <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>

<div>

</div>
{% endblock %}