{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <div class="text-center col-12 mt-4">
    <h1>Create new Utilisateur</h1>
    </div>
    <div class="container-fluid pt-4 px-4" style="margin-bottom: 110px;">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-xl-8">
                                <div class="bg-secondary rounded h-100 p-4">
                                    
                                    {{ include('utilisateur/_form.html.twig', {'button_label': 'ajouter'}) }}
                                </div>
            </div>

        </div>
    </div>
{% endblock %}
