<form method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="my-btn" >Delete</button>
</form>
<style>
.my-btn{
    color:red;
    padding:0;
    background: none;
    border: none;

}
.my-btn:hover{
    font-weight:bold;
}
</style>
