{% extends 'base.html.twig' %}

{% block title %}Ajouter une Categorie
{% endblock %}


{% block body %}

	<div class="container-fluid pt-4 px-4">
		<div class="row g-4">
			<center>
				<div class="col-sm-12 col-xl-6">
					<div class="bg-secondary rounded h-100 p-4">
						<h6 class="mb-4">Ajouter une Categorie</h6>
						 {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label">Nom
							</label>
							{{ form_widget(f.nom, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
							{{ form_errors(f.nom, {'attr': {'class': 'form-danger'}}) }}
							

						</div>


						<button type="submit" class="btn btn-primary">Ajouter</button>
						{{ form_end(f) }}
					</div>
				</div>
			</center>
		</div>
	</div>

{% endblock %}
