{% extends 'base.html.twig' %}

{% block title %}New Reclamations{% endblock %}

{% block body %}
    <h1>Create a new Reclamation</h1>

    {{ include('reclamations/_form.html.twig') }}

    <a href="{{ path('app_reclamations_index') }}">back to list</a>
{% endblock %}
