<form method="post" action="{{ path('app_equipe_delete', {'id': equipe.id,'idtournoi':idtournoi}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer votre équipe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
    <button class="follow-btn">Delete</button>
</form>
