{% extends 'base.html.twig' %}

{% block title %}New Equipe{% endblock %}

{% block body %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-8">
                                <div class="bg-secondary rounded h-100 p-4">
                                    <h1 class="mb-4">Créer une equipe</h1>
                                    {{ include('equipe/_form.html.twig', {'button_label': 'Ajouter'}) }}
                                </div>
            </div>

        </div>
    </div>
    <a href="{{ path('app_equipe_index') }}">back to list</a>
{% endblock %}
