{% extends 'baseuser.html.twig' %}

{% block title %}New Equipe{% endblock %}

{% block body %}
    <div class="container-fluid pt-4 px-4" style="margin-bottom: 110px;">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-xl-8">
                                <div class="bg-secondary rounded h-100 p-4">
                                    <h4 class="text-center">Créer une équipe</h4>
                                    {{ include('equipe/_form.html.twig', {'button_label': 'Ajouter'}) }}
                                     {% for message in app.flashes('error') %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
            </div>                            
        </div>
    </div>
    <a href="{{ path('app_equipe_index') }}">back to list</a>
    <script>
        {% if not app.user %}
            window.location.href = "{{ path('app_login') }}";
        {% endif %}
    </script>
{% endblock %}
