{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary m-2">{{ button_label|default('Save') }}</button>
    <button class="btn btn-outline-light m-2">Annuler</button>
{{ form_end(form) }}
