<form method="post" action="{{ path('app_reclamationreponse_delete', {'id': reclamationreponse.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamationreponse.id) }}">
    <button class="btn btn-link rounded-pill m-2">Delete</button>
</form>
