{% extends 'base.html.twig' %}

{% block title %}Edit Reclamationreponse{% endblock %}

{% block body %}
    <h1>Edit Reclamationreponse</h1>

    {{ include('reclamationreponse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reclamationreponse_index') }}">back to list</a>

    {{ include('reclamationreponse/_delete_form.html.twig') }}
{% endblock %}
