<form method="post" action="{{ path('app_forum_delete', {'id': forum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forum.id) }}">
    <button class="btn"><img style="margin:10px;width:24px;height:24px;" src="{{ asset('/img/poubelle.png') }}"/></button>
</form>
