{% extends 'baseuser.html.twig' %}

{% block title %}Forum index{% endblock %}
{% block active5 %}class="active"{% endblock %}
{% block body %}
<h1>Liste des forums</h1>
<a class="btn btn-lg btn-primary m-2" style="width:100%" href="{{ path('app_forum_new') }}">Ajouter forum</a>

    
    <div class="row1">
    <div class="cards-header">
                    <p class="header-text">Titre</p>
                    <p class="header-text">Date de Création</p>
                </div>
        {% for forum in forums %}
                <div class="card">
                    <div class="card-body" >
                        <a href="{{ path('app_forum_show', {'id': forum.id}) }}"><p class="card-title" >{{ forum.sujet }}</p></a>
                        <p class="card-text">{{ forum.dateCreation }}</p>
                    </div>
                </div>
            
        {% else %}
            <h1>no record found</h1>
        {% endfor %}
    </div>

    <style>

    .row1{
        display:flex;
        flex-direction:column;
        width:95.5%;
        margin:1.5%;
        color:#ffffff;
    }
    .card{
        background-color: #323232;
        border-radius:20px;
        margin-bottom:10px;
    }
    .card-body{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        width:100%; 
    }
    
    .card-title{
        
        min-width:15em;
        max-width:30em;
        position:relative;
        color:white;
        display:flex;
        flex-direction:row;
        align-items:center;
        
    }

    .card-title:hover{
        font-weight:bold;
    }
    .card-text{
        color:white;
        position:relative;
        min-width:15em;
        max-width:15em;
        display:flex;
        flex-direction:row;
        align-items:center;
      
        
    }
        .cards-header{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        margin-left:10px;
    }
    .header-text{
        position:relative;
        width:10em;
        color:#797979;
        text-decoration-line: underline;
        min-width:15em;
        max-width:15em;
        margin-right : 10px;
    }
    </style>
        

    
{% endblock %}
