{% extends 'baseuser.html.twig' %}

{% block title %}New Forum{% endblock %}
{% block active5 %}class="active"{% endblock %}

{% block body %}

<div class="container-fluid pt-4 px-4" style="margin-bottom: 120px;">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-xl-8">
            <div class="rounded h-100 p-4" style="background : #262626;">
                <h1 style="margin-bottom: 30px">Ajouter un forum</h1>
                {{ include('forum/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
<script>
        {% if not app.user %}
            window.location.href = "{{ path('app_login') }}";
        {% endif %}
    </script>

{% endblock %}
